*,*::before, *::after{
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient( to left, #FFEB3B,#800073);
}
.claculation-grid{
  justify-content: center;
  display: grid;
    margin-top: 6%;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
}
.claculation-grid > button{
  cursor: pointer;
  font-size: medium;
  border: 1px solid whitesmoke;
  outline: none;
  background-color: rgba(245, 245, 245, 0.50);
}
.claculation-grid>button:hover,
.claculation-grid>button:focus{
  background-color: rgba(245, 245, 245, 2);
}
.span-2{
  grid-column: span 2;
}
.output{
  grid-column: 1/-1;
  background:rgba(0, 0, 0, 0.50);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous{
  font-size: medium;
}
.output .current{
  font-size:xx-large;
}